<div class="logo"></div>


<div class="block">

  <div class="question">
    <%= @question %>
    <p><em> - You</em></p>
  </div>

  <div class="answer">
    <strong><%= @answer %></strong>
    <p><em>- Your coach</em></p>
  </div>

  <div class="button">
      <%= link_to "Ask another question", ask_path %>
  </div>
</div>
