<h1 class="banner">Stupid Coaching!</h1>

<div class="question">
<%= @question %>
<p><em> - You</em></p>
</div>


<div class="answer">
<%= @answer %>
<p><em>- Your coach</em></p>
</div>
<div class="go_back_link">
    <%= link_to "Ask another question", ask_path %>
</div>
