<div class="logo">
  <%= image_tag("logos/logo.png") %>
</div>

<div class="block">
  <div class="question">
    <p>- You:</p>
    <p><em><%= @question %></em></p>
  </div>
<hr>
  <div class="answer">
    <p>- Your coach:</p>
    <p><strong><%= @answer %></strong></p>
  </div>
</div>

<div class="button">
    <%= link_to "Ask another question", ask_path %>
</div>
