<h1 class="banner">Stupid Coaching!</h1>
<div>
<form class="question" id="form" action="/answer" method="get">
  <label> Ask your coach anything:</label>
  <input type="text" name="question">
  <input id="submit" type="submit" value="Ask">
</form>
</div>

