<div class="logo">
  <%= image_tag("logos/logo.png") %>
</div>

<div>
<form class="question" action="/answer" method="get">
  <div class="input-frame">
    <input type="text" name="question" autocomplete="off" required="on">
  </div>
  <div class="button">

    <input type="submit" value="Ask">
  </div>
</form>
</div>

