<div class="logo">
  <img src="../../assets/images/robot.png" alt="">
</div>
<div>
<form class="question" action="/answer" method="get">
  <div class="input-frame">
    <input type="text" name="question" autocomplete="off" required="on">
  </div>
  <div class="button">
    <input type="submit" value="Ask">
  </div>
</form>
</div>

